@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-libre-franklin), sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}
/*Light Mode */
html.light {
  --background: #ffffff;
  --body: #0a0a0a;
  --switch-bg-on: #2196f3;
  --switch-bg-off: #555555;
  --switch-handle-color: #eeeeee;
  /* Card */
  --card: rgba(239, 247, 207);
  --card-hover-color: rgba(217, 226, 193);
  --border: rgba(0, 0, 0);
  /*TitleBar*/
  --gradient-color1: rgba(239, 247, 207);
  --gradient-color2: rgba(217, 226, 193);
  /*Text*/
  --text-primary: rgba(4, 31, 30);
  --text-secondary: rgba(21, 53, 46);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --body: #0a0a0a;
    --switch-bg-on: #2196f3;
    --switch-bg-off: #555555;
    --switch-handle-color: #eeeeee;
    /* Card */
    --card: rgba(239, 247, 207);
    --card-hover-color: rgba(217, 226, 193);
    --border: rgba(0, 0, 0);
    /*TitleBar*/
    --gradient-color1: rgba(239, 247, 207);
    --gradient-color2: rgba(217, 226, 193);
    /*Text*/
    --text-primary: rgba(4, 31, 30);
    --text-secondary: rgba(21, 53, 46);
  }
}

/*Dark Mode*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --body: #ffffff;
    --switch-bg-on: #2196f3;
    --switch-bg-off: #555555;
    --switch-handle-color: #eeeeee;
    /* Card */
    --card: rgba(44, 34, 96);
    --card-hover-color: #f18805;
    --border: rgba(255, 255, 255);
    /*TitleBar*/
    --gradient-color1: rgba(44, 34, 96);
    --gradient-color2: rgba(18, 30, 205);
    /*Text*/
    --text-primary: rgba(241, 233, 218);
    --text-secondary: rgba(241, 245, 218);
  }
}

html.dark {
  --background: #0a0a0a;
  --body: #ffffff;
  --switch-bg-on: #2196f3;
  --switch-bg-off: #555555;
  --switch-handle-color: #eeeeee;
  /* Card */
  --card: rgba(44, 34, 96);
  --card-hover-color: #f18805;
  --border: rgba(255, 255, 255);
  /*TitleBar*/
  --gradient-color1: rgba(44, 34, 96);
  --gradient-color2: rgba(18, 30, 205);
  /*Text*/
  --text-primary: rgba(241, 233, 218);
  --text-secondary: rgba(241, 245, 218);
}

/* Custom Classes*/
@layer components {
  .title-primary {
    @apply text-4xl font-extrabold text-[var(--text-primary)] mb-4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .title-secondary {
    @apply text-3xl font-bold text-[var(--background)] mb-3;
  }

  .section {
    @apply bg-[var(--background)] grid 
        /*Heigth*/
         h-[40vh]             /* Height for mobile*/
         sm:h-[50vh]        
         md:h-[70vh]         
         xl:h-[100vh]   
        /*Gap*/
         gap-2                /*Gap for mobile*/
         sm:gap-4
         md:gap-4
         lg:gap-6
         border-6 p-2 my-8 mx-2 border-[var(--border)] rounded-2xl  grid-cols-4 grid-rows-4;
  }
}
