@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-libre-franklin), sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}
/*Light Mode */
html.light {
    --background: #0a0a0a;            /*Black*/
    --body:rgba(241, 233, 218);       /*White*/
  --switch-bg-on: #2196f3;
  --switch-bg-off: #555555;
  --switch-handle-color: rgba(241, 233, 218);
  /* Card */
  --card:#f18805; 
  --card-hover-color:  rgba(44, 34, 96);
  --border: rgba(0, 0, 0);
  /*TitleBar*/
 --gradient-color1: #f18805;
--gradient-color2: #f4a13f;
  /*Text*/
    --text-primary: rgba(241, 233, 218);
}

@media (prefers-color-scheme: light) {
  :root {
     --background: #0a0a0a;
    --body:rgba(241, 233, 218);
    --switch-bg-on: #2196f3;
    --switch-bg-off: #555555;
    --switch-handle-color:rgba(241, 233, 218);
    /* Card */
    --card:
    --card:#f18805; 
    --card-hover-color:  rgba(44, 34, 96);
    --border: rgba(0, 0, 0);
    /*TitleBar*/
    --gradient-color1: #f18805;
    --gradient-color2: #f4a13f;
    /*Text*/
      --text-primary: rgba(241, 233, 218);
  }   
}

/*Dark Mode*/
@media (prefers-color-scheme: dark) {
  :root {
     --background: rgba(241, 233, 218);   /*White*/
    --body: #0a0a0a;                       /*Black*/
    --switch-bg-on: #2196f3;
    --switch-bg-off: #555555;
    --switch-handle-color:rgba(241, 233, 218);
    /* Card */
    --card: rgba(44, 34, 96);
    --card-hover-color: #f18805;
    --border: rgba(255, 255, 255);
    /*TitleBar*/
    --gradient-color1: rgba(44, 34, 96);
    --gradient-color2: rgba(18, 30, 205);
    /*Text*/
    --text-primary: rgba(241, 233, 218);

  }
}

html.dark {
     --background: rgba(241, 233, 218);
    --body: #0a0a0a;
  --switch-bg-on: #2196f3;
  --switch-bg-off: #555555;
  --switch-handle-color: rgba(241, 233, 218);
  /* Card */
  --card: rgba(44, 34, 96);
  --card-hover-color: #f18805;
  --border: rgba(255, 255, 255);
  /*TitleBar*/
  --gradient-color1: rgba(44, 34, 96);
  --gradient-color2: rgba(18, 30, 205);
  /*Text*/
  --text-primary: rgba(241, 233, 218);
  --text-secondary : rgba(255, 255, 255)
}

/* Custom Classes*/
@layer components {
  .title-primary {
    @apply  text-[var(--text-primary)] my-2 text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }  


  .title-secondary {
   @apply  text-black mb-2 text-lg sm:text-xl md:text-2xl lg:text-3xl font-bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .title-tertiary  {
    @apply  text-black my-2 text-sm sm:text-base md:text-lg lg:text-xl;

  }


  .grid-section {
    @apply bg-[var(--background)] grid 
        /*Heigth*/
         h-[40vh]             /* Height for mobile*/
         sm:h-[50vh]        
         md:h-[70vh]         
         xl:h-[100vh]   
        /*Gap*/
         gap-1                /*Gap for mobile*/
         sm:gap-2
         md:gap-4
         lg:gap-6
         border-6 p-2 my-8 mx-2 border-[var(--background)] rounded-2xl  grid-cols-4 grid-rows-4;
  }
}
