.container {
  width: clamp(50px, 7vw, 150px);
  height: auto;
  aspect-ratio: 2 / 1;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  padding: clamp(5px, 0.7vw, 10px);
  transition: background-color 0.3s ease;
}

.handle {
  width: clamp(15px, 3.5vw, 30px);
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.container {
  background-color: var(--color-switch-bg-off);
}

.handle {
  background-color: var(--color-switch-handle);
}
